{% extends "layout.html" %}
{% block body %}
  <div class="col-12">
    <div class="row" id="About-Block">
      <div class="col-6 offset-3 text-center" >
          <p>
            Hey, I'm Matt and this is my personal website.  I graduated December 2017 from the University of Delaware where I studied applied mathematics, computer science, and physics.  I was involved in two summer research projects based around data analysis and numerical methods using MATLAB.  Lately I've been working at MCG Strategic where I have been learning about web development.  Check my projects page for more info.  Also, feel free to check out my GitHub for some examples of code that I have written.
          </p>
      </div>
    </div>
    <div class="row">
      <div class="col-6 offset-3">
        <div class="row justify-content-between About-Buttons Large-Font">
          <a href="{{url_for('resume')}}">Resume</a>
          <a href="{{url_for('projects')}}">Projects</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
