{% extends "layout.html" %}
{% block body %}
<div class="col-12" id="contact">
  <div class="row justify-content-center">
    <h2>Questions or comments?  Send me a message.</h2>
  </div></br>
  {% if (success == 1) %}
  <div class="row justify-content-center">
    <div class="col-11">
      <div class="alert alert-success text-center">
        Your message was successfully sent!
      </div>
    </div>
  </div>
  {% elif (success == 0) %}
  <div class="row justify-content-center">
    <div class="col-11">
      <div class="alert alert-danger text-center">
        There was a problem sending your message.
      </div>
    </div>
  </div>
  {% endif %}
  <form action="{{ url_for('contact') }}" method="post" id="contact-form">
    <div class="row justify-content-center">
      <div class="col-8 form-group">
        <input type="text" class="form-control" placeholder="Your Name" id="name" name="name">
        <div class="invalid-feedback">What's your name?</div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-8 form-group">
        <input type="email" class="form-control" placeholder="Your Email" id="email" name="email">
        <div class="invalid-feedback">Invalid email</div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-8 form-group">
        <input type="email" class="form-control" placeholder="Confirm Email" id="cemail">
        <div class="invalid-feedback">Emails must match</div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-8 form-group">
        <textarea class="form-control" rows="5" placeholder="Your Message" id="message" name="message"></textarea>
        <div class="invalid-feedback">Forget a message?</div>
      </div>
    </div>
    <div class="row justify-content-center">
      <input type="submit" class="Contact-Buttons" value="Submit">
      <button type="button" class="Contact-Buttons" id="clear">Clear</button>
    </div>
  </form>
</div>

<script type="text/javascript">
  $("#email").focusout(function() {
    if ($("#email").is(":invalid")) {
      $("#email").addClass("is-invalid");
    } else {
      $("#email").removeClass("is-invalid");
    }
  });

  $("#cemail").focusout(function() {
    if ($("#email").val() !== $("#cemail").val()) {
      $("#cemail").addClass("is-invalid");
    } else {
      $("#cemail").removeClass("is-invalid");
    }
  });

  $("#contact-form").submit(function(e) {
    if ($("#name").val() === "") {
      e.preventDefault();
      $("#name").addClass("is-invalid");
    }

    if ($("#email").val() === "") {
      e.preventDefault();
      $("#email").addClass("is-invalid");
    }

    if ($("#email").val() !== $("#cemail").val()) {
      e.preventDefault();
      $("#cemail").addClass("is-invalid");
    }

    if ($("#message").val() === "") {
      e.preventDefault();
      $("#message").addClass("is-invalid");
    }
  });

  $("#clear").click(function() {
    $("#name").val("");
    $("#name").removeClass("is-invalid");
    $("#email").val("");
    $("#email").removeClass("is-invalid");
    $("#cemail").val("");
    $("#cemail").removeClass("is-invalid");
    $("#message").val("");
    $("#message").removeClass("is-invalid");
  });
</script>
{% endblock %}
