<div id="footer">
  <a href="https://github.com/mattmeyers" target="_blank" class="Social-Link"><img src="{{url_for('static', filename='Images/Github.svg')}}" style="width: 1.5em;"/></a>
  <span class="Social-Link" style="padding: 0px 10px;">|</span>
  <a href="https://gitlab.com/mattmeyers" target="_blank" class="Social-Link"><img src="{{url_for('static', filename='Images/Gitlab.png')}}" style="width: 1.5em;"/></a>
  <span class="Social-Link" style="padding: 0px 10px;">|</span>
  <a href="https://www.linkedin.com/in/matt-meyers/" target="_blank" class="Social-Link"><img src="{{url_for('static', filename='Images/LinkedIn.svg')}}" style="width: 1.5em;"/></a>
  <br/>
  <span>Designed and Developed by Matt Meyers, 2018</span>
</div>
