<!doctype html>
<html>
  <head>
    <title>Matt Meyers</title>
    <meta charset="utf-8" />
    <meta name="author" content="Matt Meyers" />
    <meta name="description" content="This is my personal website where you can learn more about who I am and what types of projects I have worked on." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='StyleSheets/style.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='StyleSheets/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{url_for('static', filename='StyleSheets/jquery.fancybox.min.css')}}" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono|Ubuntu+Condensed" rel="stylesheet">

    <script src="{{url_for('static', filename='Scripts/jquery-3.3.1.min.js')}}" defer></script>
    <script src="{{url_for('static', filename='Scripts/jquery.fancybox.min.js')}}" defer></script>
  </head>
  <body>
    <div class="container">
      {% if request.path == '/' %}
      <div class="row justify-content-center Large-Font" style="padding-top: 10px;">
        <h1>Matt Meyers</h1>
      </div>
      {% else %}
      {% include 'header.html' %}
      {% endif %}
      <hr style="margin: 10px -100px 20px;"/>
      <div class="row justify-content-center">
        {% block body %}{% endblock %}
      </div>
    </div>
    <div class="container" style="height: 75px;">
      <div class="row justify-content-center">
        {% include "footer.html" %}
      </div>
    </div>
  </body>
</html>
