{% extends "layout.html" %}
{% block body %}
  <div class="col-12" id="resume">
    <div class="row">
      <div class="col-3 resume-category">
        <h3>Education</h3>
      </div>
      <div class="col-9">
        <ul>
          <li>
            <span style="text-align: left; font-size: 1.25em;">
              <b>University of Delaware</b>
              <span style="float: right;"><b>Newark, DE</b></span>
            </span>
          </li>
          <li>
            <span style="text-align: left;">
              <em>Bachelor of Science, Applied Mathematics</em>
              <span style="float: right;"><em>Sep 2014 - Dec 2017</em></span>
            </span>
          </li>
          <li>
            <ul>
              <li>Minors: Physics, Computer Science</li>
              <li>GPA: 3.97</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-3 resume-category">
        <h3>Work Experience</h3>
      </div>
      <div class="col-9">
        <ul>
          <li>
            <span style="text-align: left; font-size: 1.25em;">
              <b>MCG Strategic</b>
              <span style="float: right;"><b>Marlton, NJ</b></span>
            </span>
          </li>
          <li>
            <span style="text-align: left;">
              <em>Contract Software Engineer</em>
              <span style="float: right;"><em>May 2018 - Present</em></span>
            </span>
          </li>
          <li>
            <span style="text-align: left;">
              <em>Software Engineer Intern</em>
              <span style="float: right;"><em>Jan 2018 - May 2018</em></span>
            </span>
          </li>
          <li>
            <ul>
              <li>Designed a website uptime monitor for internal company use using the Concrete5 CMS.</li>
              <li>Designed a client timesheet generator mobile app using the Google Flutter mobile framework.</li>
              <li>Designed a NodeJS REST API and React front-end for a cloud file management product.</li>
            </ul>
          </li>
          <br>
          <li>
            <span style="text-align: left; font-size: 1.25em;">
              <b>University of Delaware</b>
              <span style="float: right;"><b>Newark, DE</b></span>
            </span>
          </li>
          <li>
            <span style="text-align: left;">
              <em>Lab Assistant, Department of Computer &amp; Information Sciences</em>
              <span style="float: right;"><em>Sep 2017 - Dec 2017</em></span>
            </span>
          </li>
          <li>
            <ul>
              <li>Assisted students in CISC106 (General Computer Science for Engineers) with labs and projects written in Python and MATLAB.</li>
            </ul>
          </li>
          <br>
          <li>
            <span style="text-align: left;">
              <em>Research Assistant, Department of Mathematical Sciences</em>
              <span style="float: right;"><em>Summer 2017</em></span>
            </span>
          </li>
          <li>
            <ul>
              <li>Worked on the project <em>Numerical Solutions to Ordinary and Delay Differential Equations in Chebfun</em> under Dr. Tobin Driscoll.</li>
              <li>Applied the Picard and Newton iterative methods to solve ordinary and delay differential equations within the Chebfun MATLAB library.</li>
            </ul>
          </li>
          <br>
          <li>
            <span style="text-align: left;">
              <em>Research Assistant, Department of Mathematical Sciences</em>
              <span style="float: right;"><em>Summer 2016</em></span>
            </span>
          </li>
          <li>
            <ul>
              <li>Worked on the project <em>Dimension Reduction and Clustering of Blood Pressure Waveforms</em> under Dr. Tobin Driscoll.</li>
              <li>Applied statistical learning methods such as principal components analysis and k-means clustering to heart beat data in order to detect degenerative heart defects in newborns.</li>
            </ul>
          </li>
          <br>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-3 resume-category">
        <h3>Skills</h3>
      </div>
      <div class="col-9 listItems">
        <ul>
          <li>Experience using MATLAB and Python for statistical data analysis and numerical methods</li>
          <li>Experience with Linux Command Line Interfaces, macOS, and Windows</li>
          <li>Experience using the LAMP stack (Linux, Apache, MySQL, PHP)</li>
          <li>Experience with Javascript and Javascript frameworks/libraries including NodeJS, React, and jQuery</li>
          <li>Experience writing shell scripts to automate processes</li>
          <li>Experience with Git version control</li>
          <li>Experience using the Google Flutter mobile app framework</li>
          <li>Experience using C++ when implementing data structures</li>
          <li>Experience using Java in learning Object Oriented Programming</li>
          <li>Experience debugging software with visual debuggers</li>
          <li>Experience with Eclipse, PyCharm, IntelliJ, and MATLAB IDEs</li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-3 resume-category">
        <h3>Honors and Awards</h3>
      </div>
      <div class="col-9 listItems">
        <ul>
          <li>University of Delaware Dean's List Fall <span style="float: right;">Fall 2014 - Fall 2017</span></li>
          <li>University of Delaware Honor's College <span style="float: right;">Fall 2014 - Fall 2017</span></li>
          <li>S.J. Wolfe Memorial Scholarship <span style="float: right;">Spring 2017</span></li>
          <li>Carl J. and Eleanor K. Rees Scholarship <span style="float: right;">Spring 2016</span></li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
