{% extends "layout.html" %}
{% block body %}
  <div class="col-12">
    <div class="row">
      <div class="col-3">
        <em>Education</em>
      </div>
      <div class="col-9">
        <ul>
          <li>
            <p style="text-align: left;">
              University of Delaware
              <span style="float: right;">Sep 2014 - Dec 2017</span>
            </p>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <em>Work Experience</em>
      </div>
      <div class="col-9">
        <ul>
          <li>MCG Strategic</li>
          <li>Lab Assistant</li>
          <li>Research Assistant</li>
          <li>Grader</li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <em>Skills</em>
      </div>
      <div class="col-9">
        <ul>
          <li>I can program</li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
