{% extends "layout.html" %}
{% block body %}
  <div class="col-12">
    <div class="row">
      <div class="col-3">
        <b>Education</b>
      </div>
      <div class="col-9">
        <ul>
          <li>
            <p style="text-align: left;">
              University of Delaware
              <span style="float: right;">Sep 2014 - Dec 2017</span>
            </p>
          </li>
          <li>
            <ul>
              <li>Bachelor of Science, Applied Mathematics</li>
              <li>Minors: Physics, Computer Science</li>
              <li>GPA: 3.97</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-3">
        <b>Work Experience</b>
      </div>
      <div class="col-9">
        <ul>
          <li>
            <span style="text-align: left;">
              MCG Strategic Internship
              <span style="float: right;">Jan 2018 - Present</span>
            </span>
          </li>
          <li>
            <ul>
              <li>Designed a website uptime monitor for internal company use using the Concrete5 CMS.</li>
              <li>Designed a client timesheet generator mobile app using the Google Flutter mobile framework.</li>
            </ul>
          </li>
          <br>
          <li>
            <span style="text-align: left;">
              Lab Assistant
              <span style="float: right;">Sep 2017 - Dec 2017</span>
            </span>
          </li>
          <li>
            <ul>
              <li>Assisted students in CISC106 (General Computer Science for Engineers) with labs and projects written in Python and MATLAB.</li>
            </ul>
          </li>
          <br>
          <li>
            <span style="text-align: left;">
              Research Assistant
              <span style="float: right;">Summer 2017</span>
            </span>
          </li>
          <li>Advisor: Tobin Driscoll</li>
          <li>
            <ul>
              <li>Numerical Solutions to Ordinary and Delay Differential Equations in Chebfun</li>
              <li>Applied the Picard and Newton iterative methods to solve ordinary and delay differential equations within the Chebfun MATLAB library.</li>
            </ul>
          </li>
          <br>
          <li>
            <span style="text-align: left;">
              Research Assistant
              <span style="float: right;">Summer 2016</span>
            </span>
          </li>
          <li>Advisor: Tobin Driscoll</li>
          <li>
            <ul>
              <li>Dimension Reduction and Clustering of Blood Pressure Waveforms</li>
              <li>Applied statistical learning methods such as principal components analysis to heart beat data in order to detect degenerative heart defects in newborns.</li>
            </ul>
          </li>
          <br>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-3">
        <b>Skills</b>
      </div>
      <div class="col-9">
        <ul>
          <li>Experience using MATLAB and Python for statistical data analysis and numerical methods</li>
          <li>Experience using C++ when implementing data structures</li>
          <li>Experience using Java in learning Object Oriented Programming</li>
          <li>Experience using the LAMP stack (Linux, Apache, MySQL, PHP)</li>
          <li>Expereience using the Google Flutter mobile app framework</li>
          <li>Experience with Git version control</li>
          <li>Experience debugging software with visual debuggers</li>
          <li>Experience with Linux Command Line Interfaces and Windows</li>
          <li>Experience with Eclipse, PyCharm, and MATLAB IDEs</li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-3">
        <b>Honors and Awards</b>
      </div>
      <div class="col-9">
        <ul>
          <li>University of Delaware Dean's List Fall <span style="float: right;">Fall 2014 - Fall 2017</span></li>
          <li>University of Delaware Honor's College <span style="float: right;">Fall 2014 - Fall 2017</span></li>
          <li>S.J. Wolfe Memorial Scholarship <span style="float: right;">Spring 2017</span></li>
          <li>Carl J. and Eleanor K. Rees Scholarship <span style="float: right;">Spring 2016</span></li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
