body {
  min-height: 100vh;
  position: relative;
  margin: 0;
}

.Large-Font{
  /*font-family: 'Ubuntu Condensed', sans-serif;
  font-family: 'Roboto Mono', monospace;*/
}

.header{
  padding-top: 10px;
}

.header a{
  color: black;
  text-decoration: none !important;
}

.header .nav{
  font-size: 1.5em;
}

#About-Block{
  margin: 2.5em 0em;
}

.About-Buttons a{
  border-style: solid;
  border-color: black;
  border-width: 2px;
  width: 180px;
  padding: 2px 30px 0px 30px;
  margin-bottom: 15px;
  font-size: 2em;
  color: black;
  text-decoration: none !important;
  text-align: center;
}

.About-Buttons a:visited, .header a:visited {color: black;}
.About-Buttons a:hover, .header a:hover {color: black;}
.About-Buttons a:active, .header a:active {color: black;}

#About-Block a{
    color: black;
    text-decoration: underline;
}

#resume ul{
  list-style-type: none;
}

li li{
  list-style-type: disc;
}

#resume .listItems li{
  list-style-type: disc;
}

.resume-category{
  border-right: 1px solid rgba(0,0,0,.1);
}

#footer {
  position: absolute;
  bottom: 0;
  height: 50px;
  margin-top: 2em;
  text-align: center;
}

.Social-Link{
  width: 1.5em;
  padding-bottom: 5px;
  padding-top: 20px;
}

#projects h1{
  margin: 20px auto;
}

#projects img{
  border: 1px solid black;
}

.Below-Images{
  margin-top: 10px;
}

.Below-Images img{
  height: 75px;
}

.Below-Images-Mobile img{
  height: 100px;
}
